@charset "utf-8";
body {
    background-color: #F2EFE5;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
.col-xl-4 .card.col-md-8.offset-md-2.col-lg-8.offset-xl-0.col-xl-12 .card-img-top.img-fluid {

}

.btn {
    /* [disabled]color: #0A1D56; */
    background-color: #0A1D56;
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {

    

}
.card #headingOne1 .mb-0 {
    color: black;
}



.container .navbar.navbar-expand-lg.navbar-light.bg-light .navbar-brand.personal {
    color: black;
}
.nav {

}
.card-body {
}
.navbar-nav.mr-auto .nav-item.active .nav-link {
    text-decoration: underline;
}
.card-img-top {
/*    max-width: 240px;*/
    min-height: 15vw;
/*	object-fit: cover;*/
	
}
.text-cen {
}
.mw-10 {
}
.mw-50 {
}
